.swiper {
    width: 80%;
    height: 80%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}  
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next, .swiper-button-prev {    
    position: relative;          
    margin-top: calc(30px - (var(--swiper-navigation-size)/ 2));
    width: calc(var(--swiper-navigation-size)/ 44 * 55);
    height: calc(var(--swiper-navigation-size)*2);
}
.swiper-button-next img, .swiper-button-prev img{
    width: 50%;
    height: auto;
}
.swiper-button-next:after, .swiper-button-prev:after{
    content: "";      /*蓋住原本的next、prev圖案*/
}
